#* @vtlvariable name="setting" type="com.webex.qd.widget.TimsReportWidget.Configuration" *#

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script type="text/javascript" src="${base}/script/jquery172.js"></script>
    <script type="text/javascript" src="${base}/script/jquery.form.min.js"></script>
    <script type="text/javascript" src="${base}/script/common.js"></script>

    <link type="text/css" rel="stylesheet" href="${base}/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="${base}/css/setting.css"/>
    <style type="text/css">
        body {
            font-size: 62.5%;
            padding: 0;
            margin: 0;
        }

        body * {
            font-family: "Courier New", Arial;
        }

        form * {
            font-size: 1em;
        }

        form {
            font-size: 1.2em;
        }

        form input {
            padding: 0.2em;
            outline: none;
        }

        form ul {
            padding: 0 5px;
            margin: 0;
        }

        form ul li {
            list-style: none;
            padding-bottom: 20px;
        }

        form ul li span {
            color: #0D5995;
            font-weight: bold;
        }

        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
        }

        label {
            float: left;
            padding: 0;
        }

        .ui-button .ui-button-text {
            padding: 0.2em 1.2em;
        }

        #qddts_tbl {
            width: 100%;
        }

        #qddts_tbl td {
            padding-right: 10px;
        }

        #qddts_tbl input {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin: 0;
        }

        .req:after {
            content: "*";
            color: #f00;
        }
    </style>
    <script type="text/javascript">
        function addNewRow(idx) {
            var tr = $('<tr></tr>');
            tr.attr("eidx", idx);

            var nameTd = $('<td><input name="" type="text" style="width: 90%" class="text ui-corner-all ui-widget-content"></td>');
            nameTd.children().first().attr("name", "configEntries[" + idx + "].displayName");
            tr.append(nameTd);

            var reportIdTd = $('<td><input name="" type="text" style="width: 90%" class="text ui-corner-all ui-widget-content"></td>');
            reportIdTd.children().first().attr("name", "configEntries[" + idx + "].reportId");
            tr.append(reportIdTd);

            var deleteButton = $('<td><a class="btn01 del" href="javascript:void(0)">Delete</a></td>');
            tr.append(deleteButton);
            $("#tims_lst").find("tbody").append(tr);
        }
        $(function () {
            var table_tims = $("#tims_lst");
            table_tims.click(function (e) {
                var el = $(e.target);
                if (el.hasClass('del')) el.parent().parent().remove();
            });

            $("#add").click(function () {
                var maxIdx = table_tims.find("tbody tr").last().attr("eidx");
                var newIdx = 1;
                if (maxIdx != null) {
                    newIdx = parseInt(maxIdx) + 1;
                }

                addNewRow(newIdx);
                resizeIfrmSize("setting");

            });
            if (table_tims.find("tbody tr").length == 0) {
                addNewRow(0);
                resizeIfrmSize("setting");
            }
        });


        function deleteRow() {

        }
    </script>
</head>
<body>
<form id="jsonForm" action="save" method="post">
    <ul>
        <li>
            <span>Widget Name:</span><br>
            <input type="text" value="$name" style="width: 90%" name="name" id="name"
                   class="text ui-corner-all ui-widget-content">
        </li>


        <li>
            <span>TIMS Settings:</span>
            <table class="tbl" id="tims_lst" width="100%">
                <thead>
                <tr>
                    <th>Display Name<i class="req"></i></th>
                    <th>Report ID<i class="req"></i></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    #set($idx = 0)
                    #foreach($entry in $setting.configEntries)
                    <tr eidx='$idx'>
                        <td><input name="configEntries[$idx].displayName" type="text" style="width: 90%"
                                   class="text ui-corner-all ui-widget-content" value="$entry.displayName"></td>
                        <td><input name="configEntries[$idx].reportId" type="text" style="width: 90%"
                                   class="text ui-corner-all ui-widget-content" value="$entry.reportId"></td>
                        <td><a class="btn01 del" href="javascript:void(0)">Delete</a></td>
                    </tr>
                        #set($idx = $idx + 1)
                    #end
                </tbody>
                <tfoot>
                <tr style="min-height: 35px; height: 35px;">
                    <td colspan="5" style="text-align: right;">
                        <a href="javascript:void(0)" class="btn01" id="add">Add More ...</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </li>
    </ul>
</form>
</body>
</html>