.transparent {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.transparent2 {
    /* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    width: 100%;

    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=50);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.5;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.5;

    /* Modern!
     /* Firefox 0.9+, Safari 2?, Chrome any?
     /* Opera 9+, IE 9+ */
    opacity: 0.5;
}

.t0 {
    zoom: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity = 0)";
    filter: alpha(opacity = 0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
}


.t30 {
    zoom: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity = 30)";
    filter: alpha(opacity = 30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.t30 {
    zoom: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity = 60)";
    filter: alpha(opacity = 60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.ellips {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


a.btn01 {
    text-decoration: none;
    color: inherit;
    border: 1px solid #ccc;
    padding: 2px 5px;
    font-weight: bold;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background: #eee;
    background: -webkit-gradient(linear,left top,left bottom,from(white),to(#E7E7E7));
    background: -moz-linear-gradient(top,white,#E7E7E7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFFFFF',endColorstr = '#E7E7E7');
}

a.btn01:hover {
    text-shadow:-1px -1px 0 rgba(0,0,0,0.1);
    color:#FFF;
    border:1px solid #5281a0;
    background:#4B9FD5;background:-webkit-gradient(linear,left top,left bottom,from(#78bdea),to(#4B9FD5));
    background:-moz-linear-gradient(top,#78bdea,#4B9FD5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#78bdea',endColorstr = '#4B9FD5');
}


.new-link-item {
    line-height: normal;
    padding: 2px 5px;
    border: 1px solid #888;
    margin-right: 10px;
    margin-bottom: 5px;

    text-decoration: none;
    background: #FBEA97;
    color: #235A87;

    cursor: default;


    display:-moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;


    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;


    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5);
}

.new-link-item span {
    margin-left: 5px;
}

.new-link-item span:hover {
    color: #f00;
    font-weight: bold;
    cursor: pointer;
}



.new-link-item2 {
    line-height: normal;
    padding: 2px 5px;
    border: 1px solid #888;

    text-decoration: none;
    color: #235A87;

    cursor: default;


    display:-moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;


    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.new-link-item2 span {
    margin-left: 5px;
}

.new-link-item2 span:hover {
    color: #f00;
    font-weight: bold;
    cursor: pointer;
}


.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}

circle {
    cursor: pointer;
}



.setting-help {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    background: url(../images/icon_help.gif) left top no-repeat;
    overflow: hidden;
    text-decoration: none;
    overflow: hidden;
}